hosts: all
  gather_facts: yes

- name: Configuring HAproxy
  hosts: HAproxy
  become: yes
  tasks:
    - name: installing HAproxy
      apt:
        name: haproxy
        update_cache: yes
        state: latest

    - name: HAproxy configuration for load balance
      template:
        src: haproxy.cfg.j2
        dest: /etc/haproxy/haproxy.cfg

    - name: haproxy restart
      service:
        name: "haproxy"
        state: restarted

    - name: Installing Nginx for UDP services
      apt:
        name: nginx
        update_cache: yes
        state: latest

    - name: Configuring the Nginx UDP port
      template:
        src: nginxport.conf
        dest: /etc/nginx/sites-available/default

    - name: Nginx configuration for UDP Load Balancing
      template:
        src: nginxudp.conf
        dest: /etc/nginx/nginx.conf

    - name: Restarting Nginx
      service:
        name: nginx
        state: restarted

- name: Web Server configuration
  hosts: webservers
  become: yes

  tasks:
    - name: Update_the_packages
      apt:
        update_cache: yes

    - name: Installing NGINX and Flask packages
      apt:
        name: ['nginx', 'python3-flask']  
        state: present


    - name: install nginx
      apt:
        name: nginx
        state: latest


    - name: pip3 installation 
      apt:
        name: python3-pip
        state: latest
        update_cache: true

    - name: Installing flask 
      pip:
        executable: pip3
        name: flask
        state: latest

    - name: apt update
      apt:
        update_cache: true

    - name: gunicorn installation 
      pip:
        executable: pip3
        name: gunicorn
        state: latest

    - name: apt update
      apt:
        update_cache: true
    - name: copy flask app code 
      copy:
        src: /$PWD/application2.py
        dest: /home/ubuntu/application2.py
        owner: ubuntu
        mode: '0644'

    - name: Running Flask application #Execute the flask app
      shell: gunicorn -w 2 -D -b 0.0.0.0:5000 application2:app

 name: Testing
  hosts: HAproxy
  become: yes

  tasks:
    - name: Testing the HAproxy load balancing 1st time.
      shell: "curl localhost"
      register: "output"
      args:
        warn: false
    - debug: var=output.stdout

    - name: Testing the HAproxy load balancing 2nd time.
      shell: "curl localhost"
      register: "output"
      args:
        warn: false
    - debug: var=output.stdout

    - name: Testing the HAproxy load balancing 3rd time.
      shell: "curl localhost"
      register: "output"
      args:
        warn: false
    - debug: var=output.stdout
